body {
  padding: 0%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main_div{
  width: 100%;
  height: 100vh;
  background-color: #8D98A7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 15px -5px rgba(0 , 0 , 0 , 0.5);
  border-radius: 15px;
}
h1{
  color: white;
  background: transparent;
  background-color:#00A7E1 ;
  padding: 6px 0px 2px 0px;
  box-shadow: 5px 5px 25px -5px rgba(0 , 0 , 0 , 0.3);
  margin-bottom: 10px;
  text-align: center !important;
  
}
input{
  text-align: center;
  height: 30px;
  width: 60%;
  top: 10px;
  border: none;
  font-size: 20px;
  background: transparent;
  border-bottom: 2px solid #00A7E1 ;
  outline: none;
  margin-left: 40px;
}
button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  border: none;
  outline: none;
  background-color: #00A7E1;
  color: #fff;
  font-size: 30px;
  box-shadow: 5px 5px 25px -5px rgba(0 , 0 , 0 , 0.3);
  margin-left: 10px;
  margin-top: 5px;
}
button:hover{
  background-color: #3BC14A;
}

ol{
  margin-top: 30px;
}
ol li {
  text-align: left;
  padding-left: 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #00A7E1;
  text-transform: capitalize;
}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00A7E1;
  border-radius: 50%;
  margin: 0 15px 0 25px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0 , 0 , 0 , 0.3);
}
.todo_style .fa-times:hover{
color: #FF312E;
}

